// General Homepage

body.no-scroll { overflow: hidden; }

main {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  min-height: 80vh;
  // transform: translateY(150px);
  .left-content {
    display: block;
    position: relative;
    h2 { color: $red; }
  }
  .right-content {
    display: block;
    position: relative;
    h2 { color: $blue; }
  }
  .logo {
    // display: block;
    // margin: 10px auto;
    // max-width: 200px;
    img {
      height: 70%;
    }
    svg { height: 100%; }
  }
}
