header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  min-height: 100px;
  border-bottom: 1px solid $grey;
  padding: 50px 20px 0;
  h1 {
    float: left;
    margin-right: 200px;
  }
  .navigation {
    display: flex;
    position: relative;
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    li {
      margin-right: 20px;
      &::after {
        content: "|";
        display: block;
        position: relative;
        float: right;
        margin-left: 20px;
      }
    }
  }
}
