<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jacob Schoolmeesters Web Development and Design Portfolio:::2018</title>
    <link rel="stylesheet" href="css/main.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TimelineMax.min.js" async defer></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/scripts.js" async defer></script>
  </head>
  <body>

    {{content}}

  </body>
</html>
